.bodyContainer {
    width: 100%;
    background: #330D00 url("/images/background-character.png") repeat-x;
    background-position-x: center;
    flex: 1 0 auto;
}

.topMenu {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 250px;
    margin: 16px;

    .arrow {
        height: 80px;
        cursor: pointer;
    }

    .gates {
        height: 240px;
        cursor: pointer;
    }
}

.characterContainer {
    display: flex;
    justify-content: center;
}

.characterContainer {
    width: 200px;
}

.scrollTop, .scrollBottom {
    img {
        display: block;
    }
}

.scrollMiddle {
    background-image: url("/images/scrollMiddle.png");
    background-repeat: repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    background-image: url("/images/board.png");
    background-repeat: repeat;
    background-size: 100%;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 32px;

    div {
        width: 600px;
    }
}

.character {
    width: 255px;
}

.mainContainer {
    width: 730px;

    div {
        width: 550px;
    }
}

.topicProgressBars {
    width: 100%;
}

.hitPointBar {
    background-image: url("/images/bar-yellow.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 81%;
    height: 40px;
    padding: 7px 21px;


    img {
        height: 21px;
    }
}

.expPointBar {
    background-image: url("/images/bar-blue.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 81%;
    height: 40px;
    padding: 7px 21px;


    img {
        height: 21px;
    }
}

.modalContainer {
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal {
    width: 500px;
}

.modalBox {
    width: 350px;
    padding: 32px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 109;

    .modalButton {
      width: 350px;
      height: 97px;
      cursor: pointer;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .mathButton {
      background-image: url("/images/buttons/math.png");-webkit-transition: background-image 0.2s ease-in-out;
      transition: background-image 0.2s ease-in-out;

      &:hover {
        background-image: url("/images/buttons/math-hover.png");
      }
    }

    .biologyButton {
        background-image: url("/images/buttons/biology.png");-webkit-transition: background-image 0.2s ease-in-out;
        transition: background-image 0.2s ease-in-out;

        &:hover {
            background-image: url("/images/buttons/biology-hover.png");
        }
    }

    .chemistryButton {
        background-image: url("/images/buttons/chemistry.png");-webkit-transition: background-image 0.2s ease-in-out;
        transition: background-image 0.2s ease-in-out;

        &:hover {
            background-image: url("/images/buttons/chemistry-hover.png");
        }
    }

    .informaticsButton {
        background-image: url("/images/buttons/informatics.png");-webkit-transition: background-image 0.2s ease-in-out;
        transition: background-image 0.2s ease-in-out;

        &:hover {
            background-image: url("/images/buttons/informatics-hover.png");
        }
    }

    .russianButton {
        background-image: url("/images/buttons/russian.png");-webkit-transition: background-image 0.2s ease-in-out;
        transition: background-image 0.2s ease-in-out;

        &:hover {
            background-image: url("/images/buttons/russian-hover.png");
        }
    }
}

.modalGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hat {
    z-index: 110;

    img {
        width: 500px;
        margin-bottom: -65px;
    }
}
