.topMainContainer {
  width: 100%;
  background: #330D00 url("/images/background-top.png") repeat-x bottom;
}

.bottomMainContainer {
  padding-top: 16px;
  width: 100%;
  background: #330D00 url("/images/background-bottom.png") repeat-x top;
  flex: 1 0 auto;
}

.characterContainer {
  height: 300px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;

  img {
    width: 160px;
    margin-bottom: 8px;
  }

  .scarecrow {
    width: 270px;
  }
}

.nameBlock {
  margin-bottom: 12px;
  padding: 8px 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
}

.nameBlockRight {
  margin-bottom: 12px;
  padding: 8px 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  text-align: right;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 32px;
  font-family: 'Russo One', sans-serif;
  font-size: 48px;
  color: white;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.taskContainer {
  padding: 16px;
  font-family: 'Caveat', cursive;
  font-size: 30px;
}

.scrollTop, .scrollBottom {
  img {
    display: block;
  }
}

.scrollMiddle {
  background-image: url("/images/paper-middle.png");
  background-repeat: repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scrollMiddleModal {
  background-image: url("/images/scrollMiddle.png");
  background-repeat: repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.taskScroll {
  width: 730px;
}

.taskBox {
  display: block;
  width: 550px;
}

.battleProgress {
  display: flex;
  flex-direction: column;
  align-items: center;

  .chain {
    width: 30px;
  }

  .ballInactive {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("/images/battleProgress/ball-inactive.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: -5px 0;
  }

  .ballActive {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("/images/battleProgress/ball-active.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: -5px 0;
  }

  .ballFail {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("/images/battleProgress/ball-fail.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: -5px 0;
  }

  .ballSuccess {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("/images/battleProgress/ball-success.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: -5px 0;
  }
}

.modalContainer {
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal {
  width: 500px;
}

.modalBox {
  width: 350px;
  padding: 32px 16px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 109;
}

.modalGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hat {
  z-index: 110;

  img {
    width: 500px;
    margin-bottom: -65px;
  }
}

