.loginContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollTop, .scrollBottom {
    img {
        display: block;
        width: 400px;
    }
}

.scrollMiddle {
    background-image: url("/images/scrollMiddle.png");
    background-repeat: repeat;
    background-size: 100%;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBox {
    width: 300px;
    padding: 32px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9;
}

.loginGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hat {
    z-index: 10;

    img {
        width: 500px;
        margin-bottom: -60px;
    }
}
