.bar {
  margin: auto;
  border: solid 1px rgba( 0, 0, 0, 0.9 );
  width:  100%;
  padding: .75rem 1.25rem .75rem 0;
  border-radius: 5px;
  text-align: left;
  background: rgba( 255, 255, 255, 0.9 );
}

.text {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  background: rgba( 0, 0, 0, 0.7 );
  -webkit-background-clip: text;
  color: transparent;
}

button {
  background: none;
}
